* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: row;
    flex-flow: wrap;
}

main {
    display: grid;
    grid-template-columns: 40vmin 40vmin 40vmin;
    grid-template-rows: 3rem 15rem 3rem 15rem 3rem 10rem;

}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  button {
    justify-self: center;
    width: 15vmin;
    margin: 2vmin;
    background-color: white;
    color: black;
    border: .25vmin solid black;
    border-radius: 4vmin;
    font-size: 2vmin;
    outline: none;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }


div {
    background-color: gray;
    size: 1rem;
}


#cName, #pName {
    background-color: purple;
    grid-column-start: 1;
    grid-column-end: 2;
}

.cardHolder {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;

}



#pScore, #cScore {
    background-color: turquoise;
    grid-column-start: 3;
    grid-column-end: 4;
}










#hideMe {
    visibility: hidden;
}

